@mixin section-styles($image-path) {
	height: 100vh;
	background-image: url($image-path);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

@mixin flex($direction, $gap) {
	display: flex;
	flex-direction: $direction;
	gap: $gap;
}

@mixin pseudo-line($width, $margin-bottom) {
	display: inline-block;
	content: "";
	width: $width;
	height: 1px;
	margin-bottom: $margin-bottom;
	background-color: hsla(0, 96%, 37%, 1);
}

@mixin blur {
	background: hsl(0 0% 100% / 0.1);
	backdrop-filter: blur(1rem);
}
