// --------------------------------------
// -------------GENERALS-----------------
// --------------------------------------

@use "./abstracts" as *;
@use "./mixins" as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-size: 62.5%;
	font-family: $primary-font;
}
.devider {
	height: 25em;
	background-color: rgb(2, 2, 2);
}

// --------------------------------------
// --------------HEADER------------------
// --------------------------------------

.header-section {
	@include section-styles("/public/assets/images/piasek.jpg");
}

// --------------NAV BAR--------------------------------

.nav-section {
	@include flex(row, 0);
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	.nav__logo img {
		display: none;
		width: 7rem;
		height: 7rem;
		padding: 1rem;
		border-radius: 50%;
		transition: all 3s ease-in-out;
		&:hover,
		&:focus {
			transform: rotate(280080deg);
			box-shadow: 0px 0px 150px $dark-red;
		}
	}
	.nav__links {
		@include flex(row, 5rem);
		list-style: none;

		cursor: pointer;
		text-shadow: 3px 3px 10px $dark-red;
		&::before {
			@include pseudo-line(8.5rem, 0);
			margin-top: 0.5rem;
			margin-right: -3.5rem;
			animation: header-nav-line 2.5s ease-in-out 0s 1 normal;
		}
	}
	.nav__links li a {
		font-size: 0.8rem;
		text-decoration: none;
		letter-spacing: 0.3rem;
		color: $dirty-white;
		transition: color 0.4s ease-in-out;
		&:hover,
		&:active {
			background: none;
			color: red;
			text-shadow: 5px 5px 50px black;
		}
	}
}

@keyframes header-nav-line {
	from {
		opacity: 0;
		transform: translateX(30vw);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

// --------------HERO CONTAINER----------------------------

.hero-container {
	@include flex(column, 3rem);
	justify-content: center;
	position: absolute;
	left: 5rem;
}

// --------------LOGO SPIN-----------------------------------

.header__logo--spin {
	width: 17rem;
	height: 17rem;
	border-radius: 50%;
	img {
		width: 100%;
		padding: 1.5rem;
		border-radius: 50%;
		transition: all 3s ease-in-out;
		&:hover,
		&:focus {
			transform: rotate(280080deg);
			box-shadow: 0px 0px 150px $dark-red;
		}
	}
}

// --------------HEADER TITLE--------------------------------

.header__title-section {
	width: 35vw;
	color: $dirty-white;
	span {
		font-size: 1.8rem;
		letter-spacing: 0.3rem;
		color: $light-blood;
		text-shadow: 3px 5px 2px black;
	}
	.header__title--hello::after {
		@include pseudo-line(4rem, 0.5rem);
		margin-left: 1rem;
		background-color: $dirty-white;
		animation: hello-line 2.5s ease-in-out 0s 1 normal;
	}
	.header__title--developer::before {
		@include pseudo-line(4rem, 0.5rem);
		margin-right: 1rem;
		background-color: $dirty-white;
		animation: developer-line 2.5s ease-in-out 0s 1 normal;
	}
	h1 {
		font-size: 8rem;
		letter-spacing: 0.3rem;
		text-shadow: 1px 1px 5px $dirty-white;
	}
}

@keyframes hello-line {
	from {
		opacity: 0;
		transform: translateX(-20vw);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes developer-line {
	from {
		opacity: 0;
		transform: translateX(30vw);
	}
	to {
		opacity: 1;
		transform: none;
	}
}
// --------------SOCIAL NAV------------------------------------

.social__nav {
	position: absolute;
	right: 2rem;
	bottom: 8rem;
	ul {
		@include flex(column, 7rem);
		list-style: none;
	}
	ul li {
		width: 4rem;
		height: 4rem;
		padding: 0.7rem;
		border-radius: 50%;
		img {
			width: 100%;
			filter: invert(100%);
			-webkit-filter: invert(100%);
			cursor: pointer;
			transition: all 2s ease-in-out;
		}
	}
}

.social__nav--block::after {
	@include pseudo-line(1px, 0);
	height: 3rem;
	margin-top: 0.5rem;
	margin-left: 50%;
	background-color: $dirty-white;
	transition: all 0.4s ease-in-out;
}

.social__nav--block:hover::after {
	height: 5rem;
}

// --------------SCROLL DOWN------------------------------------

.header__scroll {
	position: absolute;
	left: 5rem;
	bottom: 3rem;
	@include flex(row, 1rem);
	align-items: center;
	text-shadow: 1px 1px 5px $blackish;
	cursor: pointer;
	span a {
		text-decoration: none;
		font-size: 1.1rem;
		letter-spacing: 0.3rem;
		color: $dirty-white;
	}
	img {
		width: 1.7rem;
		height: 1.7rem;
		filter: invert(100%);
		-webkit-filter: invert(1000%);
	}
	&:hover,
	&:focus {
		background: none;
		color: $light-blood;
		text-shadow: 0px 0px 20px $dirty-white;
	}
}

// --------------------------------------
// --------------ABOUT-------------------
// --------------------------------------

.about-section {
	@include section-styles("/public/assets/images/galezie.jpg");
	@include flex(row, 0);
	align-items: center;
}

.about__container {
	position: absolute;
	right: 5rem;
	width: 30vw;
	padding: 2rem;
	background-color: $dirty-white;
	color: $blackish;
	box-shadow: 1px 1px 10px $dirty-white;
	h2 {
		font-size: 3rem;
		margin-bottom: 2rem;
	}
	article {
		font-size: 1rem;
		line-height: 1.5rem;
		margin-bottom: 2rem;
	}
	span {
		font-size: 1.5rem;
		line-height: 2rem;
	}
}

// --------------ABOUT IMAGE------------------------------------

.about__container--image {
	position: absolute;
	right: 5rem;
	border-radius: 10px;
	box-shadow: 40px 20px 50px rgba(0, 0, 0, 0.5);

	img {
		border-radius: 10px;
	}
}

// --------------------------------------
// --------------TECHNOLOGIES------------
// --------------------------------------

.technologies-section {
	display: grid;
	height: auto;
	place-items: center;
	padding: 15rem;
}

.technologies__list {
	@include flex(row, 4rem);
	li {
		@include flex(column, 2rem);
		justify-content: center;
		align-items: center;
		width: 7rem;
		height: 7rem;
		position: relative;
		transition: all 0.4s ease-in-out;
		img {
			width: 100%;
			filter: invert(100%);
			-webkit-filter: invert(100%);
		}
		span {
			font-size: 0.7rem;
			color: $dirty-white;
		}
		&:hover {
			transform: scale(1.8);
		}
	}
}

// --------------------------------------
// --------------PROJECTS----------------
// --------------------------------------

.projects-section {
	@include section-styles("/public/assets/images/water.jpg");
	@include flex(column, 2rem);
	justify-content: center;
	align-items: center;
	color: $dirty-white;
}

.projects__header {
	@include flex(column, 1rem);
	@include blur;
	padding: 2rem 4rem;
	border-radius: 20px;
	text-align: center;

	h2 {
		font-size: 2rem;
		letter-spacing: 0.3rem;
	}
	p {
		width: 40vw;
		font-size: 1rem;
		letter-spacing: 0.1rem;
	}
}

// --------------PROJECTS BLOCKS-------------------------------

.projects__main-container {
	display: grid;
	grid-template-columns: repeat(2, 30rem);
	grid-template-rows: repeat(2, 8rem);
	column-gap: 10rem;
	row-gap: 5rem;
	padding: 3rem;
	@include blur;
	border-radius: 20px;
}

.project-block {
	@include flex(row, 1rem);
	.project-block__img {
		width: 60rem;
		max-height: 30rem;
		overflow: hidden;
		border-radius: 5px;

		img {
			width: 100%;
			height: 100%;
			opacity: 0.25;
			transition: all 0.8s ease-out;
			&:hover,
			&:focus {
				transform: scale(1.2);
				opacity: 1;
			}
		}
		&:hover,
		&:focus {
			box-shadow: 0px 0px 40px grey;
		}
	}
}

.project-block__text {
	@include flex(column, 0.8rem);
	justify-content: space-between;
	h3 {
		font-size: 1rem;
	}
	p {
		font-size: 0.8rem;
		letter-spacing: 0.02rem;
	}
	.project-block__text--buttons {
		@include flex(row, 1rem);
		button {
			border: none;
			background-color: transparent;
			color: $dirty-white;
			cursor: pointer;
			transition: transform 0.2s ease-in-out;
			&:hover,
			&:focus {
				transform: scale(1.1);
			}
			&::after {
				@include pseudo-line(2rem, 0);
				margin-left: 0.1rem;
				background-color: $dirty-white;
			}
		}
	}
}

// --------------------------------------
// --------------CONTACT-----------------
// --------------------------------------

.contact-section {
	display: grid;
	place-items: center;
	@include section-styles("/public/assets/images/zielone.jpg");
	color: $dirty-white;
	position: relative;
}

.contact-container {
	@include flex(column, 5rem);
	justify-content: space-around;
	align-items: center;
	width: 45vw;
	padding: 3rem 4rem;
	border-radius: 18px;
	@include blur;
}

.contact-container__header {
	width: 40vw;
	text-align: center;
	h2 {
		font-size: 2rem;
		letter-spacing: 0.3rem;
		margin-bottom: 1rem;
	}
	p {
		width: 40vw;
		font-size: 1rem;
		letter-spacing: 0.1rem;
	}
}

// --------------CONTACT FORM------------------------------------

.contact-container__main {
	@include flex(row, 2rem);
	justify-content: center;
	align-items: flex-start;
	.contact-container__details {
		@include flex(column, 2rem);
	}
}

.form__input {
	width: 20vw;
	input {
		width: 100%;
		height: 3rem;
		padding-left: 1rem;
		font-size: 0.8rem;
		letter-spacing: 0.1rem;
		color: $dirty-white;

		&::placeholder {
			letter-spacing: 0.1rem;
			font-weight: 600;
			color: $dirty-white;
		}
		&:hover,
		&:active {
			background-color: hsla(0, 0%, 91%, 0.2);
		}
	}
}

.form input,
.form textarea {
	border: none;
	border-bottom: 1px solid $dirty-white;
	background-color: transparent;
}

.message textarea {
	max-width: 20vw;
	min-height: 5rem;
	padding: 0.5rem 1rem;
	font-size: 0.8rem;
	letter-spacing: 0.1rem;
	color: $dirty-white;
	&::placeholder {
		font-size: 1rem;
		letter-spacing: 0.1rem;
		color: white;
	}
	&:hover,
	&:active {
		background-color: hsla(0, 0%, 91%, 0.2);
	}
}

.form__button {
	width: 20vw;
	margin-top: 2rem;
	padding: 1rem;
	border: none;
	border-radius: 5px;
	background-color: $dark-red;
	color: $blackish;
	font-weight: 600;
	letter-spacing: 0.1rem;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
	&:hover,
	&:focus {
		background-color: grey;
	}
}

// --------------CONTACT DETAILS---------------------------------

.contact__block {
	@include flex(column, 0.3rem);
	justify-content: center;
	span {
		font-size: 1.5rem;
		letter-spacing: 0.2rem;
	}
	p {
		font-size: 1.2rem;
		letter-spacing: 0.02rem;
		line-height: 1.8rem;
	}
}
// --------------------------------------
// --------------FOOTER------------------
// --------------------------------------

.footer-section {
	display: grid;
	place-items: center;
	height: 33rem;
}

.footer__container {
	@include flex(column, 3rem);
	justify-content: center;
	align-items: center;
	.footer__top {
		@include flex(column, 2rem);
		justify-content: center;
		align-items: center;
		img {
			width: 12rem;
			height: 12rem;
			padding: 1rem;
			border-radius: 50%;
			&:hover,
			&:active {
				color: $dark-red;
				box-shadow: 0px 0px 30px $dark-red;
			}
		}
		.footer__top--links {
			@include flex(row, 1rem);
			color: $dirty-white;

			span {
				font-size: 1.5rem;
				letter-spacing: 0.2rem;
				cursor: pointer;
				margin: 0 1rem;
				padding: 1rem;
				&:hover,
				&:active {
					color: $dark-red;
					box-shadow: 0px 0px 30px $dark-red;
				}
			}
		}
	}

	// --------------FOOTER BOTTOM---------------------------------

	.footer__bottom {
		@include flex(column, 1rem);
		justify-content: center;
		align-items: center;
		button {
			background-color: transparent;
			cursor: pointer;
			&::before {
				@include pseudo-line(2rem, 0);
				margin-right: 0.5rem;
				transition: all 0.9s ease-in-out;
			}
			&::after {
				@include pseudo-line(2rem, 0);
				margin-left: 0.5rem;
				transition: all 0.3s ease-in-out;
			}
			&:hover::before,
			&:focus::before,
			&:hover::after,
			&:focus::after {
				width: 5rem;
			}
			a {
				text-decoration: none;
				color: $dirty-white;
			}
		}
		span {
			color: $dark-red;
			font-size: 1rem;
		}
		.author {
			color: $dirty-white;
			font-size: 1.3rem;
		}
		.credits {
			font-size: 0.7rem;
			a {
				text-decoration: none;
				color: $dirty-white;
			}
		}
	}
}
