// --------------------------------------
// --------------ABOUT-------------------
// --------------------------------------

@use "../abstracts" as *;

.about-section {
	@include section-styles("../public/assets/images/galezie.jpg");
	@include flex(row, 0);
	align-items: center;
	padding: 2rem 0;
}

.about__container {
	position: absolute;
	right: 5rem;
	width: min(39rem, 43rem);
	padding: 2rem;
	background-color: $dirty-white;
	color: $blackish;
	box-shadow: 1px 1px 10px $dirty-white;
	h2 {
		font-size: 2rem;
		margin-bottom: 2rem;
	}
	article {
		font-size: 1rem;
		line-height: 1.5rem;
		margin-bottom: 2rem;
	}
	span {
		font-size: 1.5rem;
		line-height: 2rem;
	}
}

// ===================MEDIA QUERIES=================
// =================================================

@media (max-width: 1400px) {
	.about-section {
		justify-content: center;
	}

	.about__container {
		position: static;
	}
}

@media (max-width: 900px) {
	.about-section {
		height: 120vh;
	}

	.about__container {
		width: 36rem;
		span {
			font-size: 1.1;
		}
	}
}
@media (max-width: 650px) {
	.about-section {
		min-height: 130vh;
		padding: 2rem;
	}

	.about__container {
		max-width: 30rem;
		text-align: center;
		h2 {
			font-size: 1.5rem;
			margin-bottom: 2rem;
		}
		article {
			font-size: 0.8rem;
			line-height: 1.5rem;
			margin-bottom: 2rem;
		}
		span {
			font-size: 1.2rem;
			line-height: 2rem;
		}
	}
}

@media (max-width: 450px) {
	.about-section {
		height: 160vh;
	}
}

@media (max-width: 400px) {
	.about-section {
		height: 185vh;
	}
}

@media (max-height: 800px) {
	.about-section {
		height: 220vh;
	}
}
