// --------------------------------------
// -------------GENERALS-----------------
// --------------------------------------

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-size: 62.5%;
	font-family: "Montserrat", sans-serif;
}
.devider {
	height: 25em;
	background-color: rgb(2, 2, 2);
}
