// --------------------------------------
// --------------HEADER------------------
// --------------------------------------

@use "../abstracts" as *;

.header-section {
	@include section-styles("../public/assets/images/piasek.jpg");
	position: relative;
}

// --------------NAV BAR--------------------------------

.nav-section {
	@include flex(row, 0);
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	.nav__logo img {
		display: none;
		width: 7rem;
		height: 7rem;
		padding: 1rem;
		border-radius: 50%;
		transition: all 3s ease-in-out;
		&:hover,
		&:focus {
			transform: rotate(280080deg);
			box-shadow: 0px 0px 150px $dark-red;
		}
	}
	.nav__links {
		@include flex(row, 5rem);
		list-style: none;

		cursor: pointer;
		text-shadow: 3px 3px 10px $dark-red;
		&::before {
			@include pseudo-line(8.5rem, 0);
			margin-top: 0.5rem;
			margin-right: -3.5rem;
			animation: header-nav-line 2.5s ease-in-out 0s 1 normal;
		}
	}
	.nav__links li a {
		font-size: 0.8rem;
		text-decoration: none;
		letter-spacing: 0.3rem;
		color: $dirty-white;
		transition: color 0.4s ease-in-out;
		&:hover,
		&:active {
			background: none;
			color: red;
			text-shadow: 5px 5px 50px black;
		}
	}
}

@keyframes header-nav-line {
	from {
		opacity: 0;
		transform: translateX(30vw);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

// --------------LOGO SPIN-----------------------------------

.header__logo--spin {
	position: absolute;
	top: 10vh;
	left: 5vw;
	width: 17rem;
	height: 17rem;
	border-radius: 50%;
	img {
		width: 100%;
		padding: 1.5rem;
		border-radius: 50%;
		transition: all 3s ease-in-out;
		&:hover,
		&:focus {
			transform: rotate(280080deg);
			box-shadow: 0px 0px 150px $dark-red;
		}
	}
}

// --------------HEADER TITLE--------------------------------

.header__title-section {
	position: absolute;
	left: 5vw;
	bottom: 10vh;
	min-width: 40vw;
	color: $dirty-white;
	span {
		font-size: 1.8rem;
		letter-spacing: 0.3rem;
		color: $light-blood;
		text-shadow: 3px 5px 2px black;
	}
	.header__title--hello::after {
		@include pseudo-line(4rem, 0.5rem);
		margin-left: 1rem;
		background-color: $dirty-white;
		animation: hello-line 2.5s ease-in-out 0s 1 normal;
	}
	h1 {
		font-size: 7rem;
		letter-spacing: 0.3rem;
		text-shadow: 1px 1px 5px $dirty-white;
	}
	.header__title--developer::before {
		@include pseudo-line(4rem, 0.5rem);
		margin-right: 1rem;
		background-color: $dirty-white;
		animation: developer-line 2.5s ease-in-out 0s 1 normal;
	}
}

@keyframes hello-line {
	from {
		opacity: 0;
		transform: translateX(-20vw);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes developer-line {
	from {
		opacity: 0;
		transform: translateX(30vw);
	}
	to {
		opacity: 1;
		transform: none;
	}
}
// --------------SOCIAL NAV------------------------------------

.social__nav {
	position: absolute;
	right: 2rem;
	bottom: 8rem;
	ul {
		@include flex(column, 7rem);
		list-style: none;
	}
	ul li {
		width: 4rem;
		height: 4rem;
		padding: 0.7rem;
		border-radius: 50%;
		img {
			width: 100%;
			filter: invert(100%);
			-webkit-filter: invert(100%);
			cursor: pointer;
			transition: all 2s ease-in-out;
		}
	}
}

.social__nav--block::after {
	@include pseudo-line(1px, 0);
	height: 3rem;
	margin-top: 0.5rem;
	margin-left: 50%;
	background-color: $dirty-white;
	transition: all 0.4s ease-in-out;
}

.social__nav--block:hover::after {
	height: 5rem;
}

// ===================MEDIA QUERIES=================
// =================================================

@media (max-width: 800px) {
	.nav-section {
		display: none;
	}

	.header__logo--spin {
		top: 1vh;
		left: 2vw;
	}

	.header__title-section {
		span {
			font-size: 1rem;
		}
		.header__title--hello::after {
			display: none;
		}
		h1 {
			font-size: 4rem;
		}
		.header__title--developer::before {
			display: none;
		}
	}

	.social__nav {
		top: 1rem;
	}
}

@media (max-width: 600px) {
	.header__logo--spin {
		left: 50%;
		transform: translateX(-50%);
	}

	.header__title-section {
		width: 90vw;
		margin: 30vh auto 5vh auto;
		text-align: center;
	}

	.social__nav {
		display: none;
	}
}
