// --------------------------------------
// --------------PROJECTS----------------
// --------------------------------------

@use "../abstracts" as *;

.projects-section {
	@include section-styles("../public/assets/images/storm-clouds.jpg");
	@include flex(column, 2rem);
	justify-content: center;
	align-items: center;
	color: black;
}

.projects__header {
	@include flex(column, 1rem);
	// @include blur;
	// backdrop-filter: blur(9rem);
	// background-color: $dirty-white;
	background-color: hsla(0, 0%, 91%, 0.85);
	padding: 2rem 4rem;
	border-radius: 20px;
	text-align: center;
	box-shadow: 1px 1px 10px $dirty-white;
	h2 {
		font-size: 2rem;
		letter-spacing: 0.3rem;
	}
	p {
		width: 40vw;
		font-size: 0.9rem;
		letter-spacing: 0.05rem;
	}
}

// --------------PROJECTS BLOCKS-------------------------------

.projects__main-container {
	display: grid;
	grid-template-columns: repeat(2, 30rem);
	grid-template-rows: repeat(2, 8rem);
	column-gap: 10rem;
	row-gap: 5rem;
	padding: 3rem;
	// @include blur;
	background-color: hsla(0, 0%, 91%, 0.85);
	border-radius: 20px;
	box-shadow: 1px 1px 10px $dirty-white;
}

.project-block {
	@include flex(row, 1rem);
	.project-block__img {
		width: 60rem;
		max-height: 30rem;
		overflow: hidden;
		border-radius: 5px;
		box-shadow: 1px 1px 10px grey;
		img {
			width: 100%;
			height: 100%;
			opacity: 0.25;
			transition: all 0.8s ease-out;
			&:hover,
			&:focus {
				transform: scale(1.2);
				opacity: 1;
			}
		}
		&:hover,
		&:focus {
			box-shadow: 0px 0px 40px grey;
		}
	}
}

.project-block__text {
	@include flex(column, 0.5rem);
	justify-content: space-between;
	width: 50rem;
	h3 {
		font-size: 1rem;
	}
	p {
		font-size: 0.7rem;
		letter-spacing: 0.02rem;
	}
	.project-block__text--buttons {
		@include flex(row, 1rem);
		button {
			border: none;
			background-color: transparent;
			color: black;
			cursor: pointer;
			transition: transform 0.2s ease-in-out;
			&:hover,
			&:focus {
				transform: scale(1.1);
			}
		}
	}
}

// ===================MEDIA QUERIES=================
// =================================================

@media (max-width: 1450px) {
	.projects__main-container {
		column-gap: 5rem;
	}
}

@media (max-width: 1300px) {
	.projects-section {
		height: 130vh;
	}

	.projects__header {
		padding: 1rem 2rem;
		gap: 0.5rem;
		h2 {
			font-size: 1.5rem;
			letter-spacing: 0.3rem;
		}
		p {
			width: 40vw;
			font-size: 0.8rem;
			letter-spacing: 0.1rem;
		}
	}

	.projects__main-container {
		display: grid;
		grid-template-columns: 30rem;
		row-gap: 2rem;
		padding: 3rem;
	}
}

@media (max-width: 900px) {
	.projects__header {
		p {
			width: 50vw;
		}
	}
}

@media (max-width: 600px) {
	.projects-section {
		height: 200vh;
	}

	.projects__header {
		p {
			width: 70vw;
			font-size: 0.7rem;
			line-height: 0.9rem;
		}
	}
	.projects__main-container {
		grid-template-columns: 100%;
		grid-template-rows: repeat(4, 15rem);
		justify-items: center;
		row-gap: 3rem;
		column-gap: 0;
		max-width: 80%;
		padding: 3rem 0;
	}

	.project-block {
		flex-direction: column;
		align-items: center;
		max-width: 90%;

		.project-block__img {
			width: 60%;
		}
		.project-block__text {
			text-align: center;
			max-width: 85%;
			gap: 0.6rem;
			p {
				line-height: 1rem;
			}
		}
		.project-block__text--buttons {
			justify-content: center;
		}
	}
}

@media (max-height: 800px) {
	.projects-section {
		min-height: 250vh;
	}
}
