// --------------------------------------
// --------------TECHNOLOGIES------------
// --------------------------------------

@use "../abstracts" as *;

.technologies-section {
	display: grid;
	height: auto;
	place-items: center;
	padding: 15rem 0 15rem 0;
}

.technologies__list {
	display: grid;
	gap: 4rem;
	grid-template-columns: repeat(8, 7rem);
	justify-items: center;
	li {
		@include flex(column, 2rem);
		justify-content: center;
		align-items: center;
		width: 7rem;
		height: 7rem;
		position: relative;
		transition: all 0.4s ease-in-out;
		img {
			width: 100%;
			filter: invert(100%);
			-webkit-filter: invert(100%);
		}
		span {
			font-size: 0.7rem;
			color: $dirty-white;
		}
		&:hover {
			transform: scale(1.5);
		}
	}
}

// ===================MEDIA QUERIES=================
// =================================================

@media (max-width: 1500px) {
	.technologies-section {
		padding: 8rem 3rem;
	}
	.technologies__list {
		column-gap: 6.5rem;
		row-gap: 11rem;
		grid-template-columns: repeat(4, 7rem);
	}
}

@media (max-width: 900px) {
	.technologies-section {
		padding: 7rem 3rem;
	}
	.technologies__list {
		grid-template-columns: repeat(4, 3rem);
		.li {
			width: 3rem;
			height: 3rem;
			img {
				width: 50%;
			}
		}
	}
}

@media (max-width: 650px) {
	.technologies__list {
		grid-template-columns: repeat(2, 7rem);
		row-gap: 7rem;
		.li {
			width: 3rem;
			height: 3rem;
			img {
				width: 50%;
			}
		}
	}
}
