// --------------------------------------
// --------------TECHNOLOGIES------------
// --------------------------------------

@use "../abstracts" as *;

.technologies-section {
	display: grid;
	height: auto;
	place-items: center;
	padding: 15rem 0 15rem 0;
}

.technologies__list {
	@include flex(row, 4rem);
	li {
		@include flex(column, 2rem);
		justify-content: center;
		align-items: center;
		width: 7rem;
		height: 7rem;
		position: relative;
		transition: all 0.4s ease-in-out;
		img {
			width: 100%;
			filter: invert(100%);
			-webkit-filter: invert(100%);
		}
		span {
			font-size: 0.7rem;
			color: $dirty-white;
		}
		&:hover {
			transform: scale(1.5);
		}
	}
}
