body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: #222;
	position: relative;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
}

a {
	place-self: center center;
	padding: 7rem;
	font-size: 8rem;
	font-weight: bold;
	text-decoration: none;
	border: none;
	background-image: url(./assets/DJI_0945.jpg);
	background-size: cover;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	opacity: 0;
}

a:hover {
	opacity: 1;
}

.one-grid {
	position: relative;
}

.one--move {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 300px;
	height: auto;
	opacity: 0.5;
}

.one--move:hover {
	transition: 2s ease-out;
	transform: translate(-30px, -30px);
	opacity: 1;
}
.img {
	position: absolute;
	width: 500px;
	height: 500px;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: grid;
	grid-template-columns: 20vw 20vw;
	grid-template-rows: 20vh 20vh;
	grid-template-areas:
		"one two"
		"three four";
	background-image: url(/assets/DJI_0945.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
