body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: #222;
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

a {
	place-self: center center;
	padding: 7rem;
	font-size: 8rem;
	font-weight: bold;
	text-decoration: none;
	border: none;
	background-image: url(./assets/DJI_0945.jpg);
	background-size: cover;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	opacity: 0;
}

a:hover {
	opacity: 1;
}

.img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: grid;
	grid-template-columns: 20vw 20vw;
	grid-template-rows: 20vh 20vh;
	grid-template-areas:
		"one two"
		"three four";
	background-image: url(/assets/DJI_0945.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.one {
	width: 100%;
	height: 100%;
	grid-area: one;
	background-image: url(/assets/DJI_0945.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	opacity: 0;
	/* visibility: hidden; */
}
.two {
	width: 100%;
	height: 100%;
	grid-area: two;
	background-image: url(/assets/DJI_0945.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	opacity: 0;
}
.three {
	width: 100%;
	height: 100%;
	grid-area: three;
	background-image: url(/assets/DJI_0945.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	opacity: 0;
}
.four {
	width: 100%;
	height: 100%;
	grid-area: four;
	background-image: url(/assets/DJI_0945.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	opacity: 0;
}

.moveOne {
	opacity: 1;
}
